.has-hero-image {
  background-image: url('assets/rbhleft.png'), url('assets/rbhright.png');
  background-position: left center, right center;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}